/*rodapé*/
footer{
    margin-top: 10%;
    width: 96.01%;
    height: 5%;
    padding: 2%;
    margin-right: 0%;
    margin-left: 0%;
    left: 0%;
    right: 0%;
    position: absolute;
    background-color: #202020;
    color: rgb(255, 255, 255);
    text-align: center;
}
#direitos{
    margin-top: 1%;
    font-size: 130%;
}